.admin-dashboard h2,p{
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar {
    background-color: #004466; /* Adjust the color to match your theme */
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    margin-right: 200px;
}

.navbar button {
    background-color: #006699; /* Adjust the color to match your theme */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: #005580; /* Adjust for hover effect */
}

.admin-info {
    background-color: #f2f2f2; /* Light grey background */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.new-exam-form {
    background-color: #f2f2f2;
    margin: 10px;
    padding: 20px
    border-radius: 5px;
    width: 80%; /* Adjust this as needed, but 100% should make it responsive */
    max-width: 500px; /* Or whatever maximum width you prefer */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: flex; /* This will enable you to center the content */
    flex-direction: column;
    align-items: center; /* This will center the form fields horizontally */
  }
  
  /* Additional styles for the form inputs to ensure they take the full width of the form */
  .new-exam-form input,
  .new-exam-form button {
    width: calc(100% - 20px); /* Subtracting the total left and right paddings */
    margin: 10px 0; /* Add some vertical spacing */
  }
  
  /* Styles for the labels if needed */
  .new-exam-form label {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  

.new-exam-form button:hover {
    background-color: #005580; /* Adjust for hover effect */
}

/* Add any additional styling as needed */
